/* Bootstrap Colors */
.bg-blue { background-color: var(--bs-blue); }
.text-blue { color: var(--bs-blue); }

.bg-indigo { background-color: var(--bs-indigo); }
.text-indigo { color: var(--bs-indigo); }

.bg-purple { background-color: var(--bs-purple); }
.text-purple { color: var(--bs-purple); }

.bg-pink { background-color: var(--bs-pink); }
.text-pink { color: var(--bs-pink); }

.bg-red { background-color: var(--bs-red); }
.text-red { color: var(--bs-red); }

.bg-orange { background-color: var(--bs-orange); }
.text-orange { color: var(--bs-orange); }

.bg-yellow { background-color: var(--bs-yellow); }
.text-yellow { color: var(--bs-yellow); }

.bg-green { background-color: var(--bs-green); }
.text-green { color: var(--bs-green); }

.bg-teal { background-color: var(--bs-teal); }
.text-teal { color: var(--bs-teal); }

.bg-cyan { background-color: var(--bs-cyan); }
.text-cyan { color: var(--bs-cyan); }

.bg-white { background-color: var(--bs-white); }
.text-white { color: var(--bs-white); }

.bg-gray { background-color: var(--bs-gray); }
.text-gray { color: var(--bs-gray); }

.bg-gray-dark { background-color: var(--bs-gray-dark); }
.text-gray-dark { color: var(--bs-gray-dark); }

.bg-primary { background-color: var(--bs-primary); }
.text-primary { color: var(--bs-primary); }

.bg-secondary { background-color: var(--bs-secondary); }
.text-secondary { color: var(--bs-secondary); }

.bg-success { background-color: var(--bs-success); }
.text-success { color: var(--bs-success); }

.bg-info { background-color: var(--bs-info); }
.text-info { color: var(--bs-info); }

.bg-warning { background-color: var(--bs-warning); }
.text-warning { color: var(--bs-warning); }

.bg-danger { background-color: var(--bs-danger); }
.text-danger { color: var(--bs-danger); }

.bg-light { background-color: var(--bs-light); }
.text-light { color: var(--bs-light); }

.bg-dark { background-color: var(--bs-dark); }
.text-dark { color: var(--bs-dark); }

.bg-dark-red { background-color: var(--seb-dark-red); }
.text-dark-red { color: var(--seb-dark-red); }

.bg-seb-red { background-color: var(--seb-red); }
.text-seb-red { color: var(--seb-red); }

.bg-dark-grey { background-color: var(--seb-dark-grey); }
.text-dark-grey { color: var(--seb-dark-grey); }

.bg-off-white { background-color: var(--seb-off-white); }
.text-off-white { color: var(--seb-off-white); }

.bg-light-grey { background-color: var(--seb-light-grey); }
.text-light-grey { color: var(--seb-light-grey); }


/* Bootsrap Colors */
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));

  /* Custom Colors */
  --seb-dark-red: #810202;
  --seb-red: #c50000;
  --seb-dark-grey: #313131;
  --seb-off-white: #ebebeb;
  --seb-light-grey: #6e6e6e;
  
}