body {
  color: var(--seb-dark-grey);
}
.marker-seb-red {
  list-style-type: disc;
}

.marker-seb-red li::marker {
  color: var(--seb-red);
}

.resumeBlock>strong {
  color: var(--seb-red);
}

.resumeBlock>.location {
  color: var(--bs-gray);
}

.resumeBlock>.date {
  color: var(--bs-gray);
}

.resumeBlock>ul {
  list-style-type: disc;
}

.resumeBlock>ul li::marker {
  color: var(--seb-red);
}

a img {
  border: none;
}

a {
  color: var(--seb-dark-grey);
  text-decoration: none;
}
a:active,
a:hover {
  color: var(--seb-red);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


a:visited {
  text-decoration: none;
  line-height: inherit;
  /* color: var(--seb-dark-grey); */
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}