/* ==================================================== */
/* WebFonts */
@import url("fonts.css");
@import url("colors.css");

/* ==================================================== */
/* Main Styling */
body {
	/* background-color: var(--seb-dark); */
	background-color: var(--seb-off-white);
	z-index: 1;
}

h5 {
	font-family: 'poppins-bold', var(--bs-font-sans-serif), sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

body * {
	z-index: 1;
}

/* ==================================================== */
/* Custom Bootstrap */
.rounded-4 {
	border-radius: .5rem !important;
}

.rounded-5 {
	border-radius: 1rem !important;
}

.rounded-6 {
	border-radius: 1.5rem !important;
}


.text-shadow {
	text-shadow: 0 0 20px #000, 0 0 30px #222, 0 0 40px #333;
}

.text-glow {
	text-shadow: 0 0 20px #555, 0 0 30px #888, 0 0 40px #999;
}


/* ==================================================== */
/* Custom Buttons */
.btn-seb-outline {
	border-radius: .25rem !important;
	align-self: center;
	--bs-btn-color: var(--seb-dark) !important;
	--bs-btn-bg: transparent !important;
	--bs-btn-border-color: var(--seb-dark) !important;
	--bs-btn-hover-color: var(--seb-off-white) !important;
	--bs-btn-hover-bg: var(--seb-dark-red) !important;
	--bs-btn-hover-border-color: var(--seb-red) !important;
	--bs-btn-active-color: var(--seb-off-white) !important;
	--bs-btn-active-bg: var(--seb-dark-red) !important;
	--bs-btn-active-border-color: var(--seb-dark-red-74) !important;
}

.btn-seb-outline:focus {
	box-shadow: 0 0 0 0.25rem var(--seb-red-bb);
}

.btn-seb-outline2 {
	border-radius: .25rem !important;
	align-self: center;
	--bs-btn-color: var(--seb-grey) !important;
	--bs-btn-bg: transparent !important;
	--bs-btn-border-color: var(--seb-grey) !important;
	--bs-btn-hover-color: var(--seb-off-white) !important;
	--bs-btn-hover-bg: var(--seb-dark-red) !important;
	--bs-btn-hover-border-color: var(--seb-red) !important;
	--bs-btn-active-color: var(--seb-off-white) !important;
	--bs-btn-active-bg: var(--seb-dark-red) !important;
	--bs-btn-active-border-color: var(--seb-dark-red-74) !important;
}

.btn-seb-outline2:focus {
	box-shadow: 0 0 0 0.25rem var(--seb-red-bb);
}

.btn-seb-primary {
	border-radius: .25rem !important;
	align-self: center;
	--bs-btn-color: var(--seb-off-white) !important;
	--bs-btn-bg: var(--seb-dark-grey) !important;
	--bs-btn-border-color: var(--seb-dark) !important;
	--bs-btn-hover-color: var(--seb-off-white) !important;
	--bs-btn-hover-bg: var(--bs-black) !important;
	--bs-btn-hover-border-color: var(--seb-dark) !important;
	--bs-btn-active-color: var(--seb-off-white) !important;
	--bs-btn-active-bg: var(--bs-black) !important;
	--bs-btn-active-border-color: var(--seb-dark) !important;
}

.btn-seb-primary:focus {
	box-shadow: 0 0 0 0.25rem var(--seb-dark-bb);
}

.btn-seb-secondary {
	border-radius: .25rem !important;
	align-self: center;
	--bs-btn-color: var(--seb-off-white) !important;
	--bs-btn-bg: var(--seb-light-grey) !important;
	--bs-btn-border-color: var(--seb-grey) !important;
	--bs-btn-hover-color: var(--seb-off-white) !important;
	--bs-btn-hover-bg: var(--seb-grey) !important;
	--bs-btn-hover-border-color: var(--seb-dark-grey) !important;
	--bs-btn-active-color: var(--seb-off-white) !important;
	--bs-btn-active-bg: var(--seb-grey) !important;
	--bs-btn-active-border-color: var(--seb-dark-grey) !important;
}

.btn-seb-secondary:focus {
	box-shadow: 0 0 0 0.25rem var(--seb-grey-74);
}


/* ==================================================== */
/* nav */
#nav .dropdown-menu {
	/* --bs-dropdown-color: #{$dropdown-dark-color}; */
	font-family: "poppins-regular", var(--bs-font-sans-serif), sans-serif;
	--bs-dropdown-link-color: var(--seb-off-white) !important;
	--bs-dropdown-link-hover-color: var(--seb-off-white) !important;
	--bs-dropdown-bg: var(--seb-dark) !important;
	--bs-dropdown-border-color: var(--seb-dark-grey) !important;
	--bs-dropdown-link-hover-bg: var(--seb-dark-red) !important;
	--bs-dropdown-link-active-bg: var(--seb-red) !important;
	--bs-dropdown-min-width: 100px;
	--bs-dropdown-divider-bg: var(--seb-dark-grey) !important;
	--bs-dropdown-divider-margin-y: 0.1rem !important;
}

#navDropdownButton {
	--bs-btn-border-color: var(--bs-black-33) !important;
	--bs-btn-hover-border-color: var(--bs-black-33) !important;
}

#navDropdownButton>* {
	align-items: end;
}

#navDropdownButton>i {
	/* font-size: 2rem; */
	width: 1.75rem;
}

#nav .dropdown-menu li {
	position: relative;
}

#nav .dropdown-menu .submenu {
	display: none;
	/* display: block; */
	position: absolute;
	left: 100%;
	top: calc(-1* (.8px + 2* var(--bs-dropdown-item-padding-y)));
	/* 8 for padfing + .8 for border offset */
}

#nav .dropdown-menu>li:hover>.submenu {
	display: block;
}

#nav .dropdown-menu>li:active>.submenu {
	display: block;
}

#nav .dropdown-item.emoji>span {
	position: absolute;
	left: .7rem;
}

nav .dropdown-item.emoji {
	padding-left: 2rem;
}

/* ==================================================== */
/* Landing Page */

#landing {
	background: transparent;

}

/* .intro-img {
    width: 100%;
    object-fit: contain;
    object-position: center end;
    min-width: 100vh;
    max-height: 100vh;
    height: min-content;
    max-width: 100vw;
  } */
#landing>.intro-social a {
	font-size: calc(1.3rem + 1vw);
	color: var(--seb-off-white) !important;
	/* z-index:10; */
	/* font-size: 2rem; */
	/* font-size: x-large; */
}

/* Small devices `-sm` (phones, 576px and up) */
/* @media (min-width: 576px) { */
#landing .landing-links>.row:has(.btn) {
	margin-left: 3rem;
	margin-right: 3rem;
}

/* } */
#landing .landing-links .btn {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: .85rem;
	/* padding: .375rem 1.3rem; */
}

#landing>.intro-content>.Greeting {
	font-family: 'poppins-extrabold', var(--bs-font-sans-serif), sans-serif;
	letter-spacing: 2.5px;
}

#landing>.intro-content>.Name {
	font-family: 'poppins-medium', var(--bs-font-sans-serif), sans-serif;
	letter-spacing: -0.107rem;
	/* -webkit-transform:  scale(1, 1); */
	/* -moz-transform:     scale(1, 1); */
	/* -o-transform:       scale(1, 1); */
	/* transform:          scale(1, 1); */
	font-weight: 700;
	/*Responsive text size*/
	font-size: min(100px, max(50px, calc(1.5rem + 5vw)));

}

#landing>.intro-content>.intro-position>* {
	font-size: 1rem;
	font-family: 'Times New Roman', Times, serif;
	letter-spacing: 2px;
}

/* tiny devices `` (phones, 575.98px and up) */
@media (max-width: 575.98px) {
	#landing>.intro-content>*>* {
		padding-right: .5rem;
		padding-left: .5rem;
	}
}

#landing>.intro-social {
	padding-bottom: 1rem;
}

#landing>.intro-social>* {
	padding-right: 1rem;
	padding-left: 1rem;
}

/* Small devices `-sm` (phones, 576px and up) */
@media (min-width: 576px) {
	#landing>.intro-content>*>* {
		padding-right: 1rem;
		padding-left: 1rem;
	}
}


/* ==================================================== */
/* Intro BLOCK */

.intro-body,
#intro {
	background: transparent;
	/* parallax scrolling */
	/* background: transparent url(/~sebvc/content/images/Royal_Castle_Building_2.jpg) no-repeat center bottom;
  background-image: url(/~sebvc/content/images/Royal_Castle_Building_2.jpg);
  background: transparent url(../../~sebvc/content/images/Royal_Castle_Building_2.jpg) no-repeat center bottom;
  background-image: url(../../~sebvc/content/images/Royal_Castle_Building_2.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed; */

	/* width: 100%; */
	/* height: 100%; */
	/* min-height: 720px; */
	/* display: table; */
	/* position: relative; */
	/* text-align: center; */
}

/* .intro-img {
    width: 100%;
    object-fit: contain;
    object-position: center end;
    min-width: 100vh;
    max-height: 100vh;
    height: min-content;
    max-width: 100vw;
  } */
#intro>.intro-social {
	font-size: calc(1.3rem + 1vw);
	/* font-size: 2rem; */
	/* font-size: x-large; */
}

#intro>.intro-content>button,
#intro>.intro-content>.btn {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: .85rem;
	/* padding: .375rem 1.3rem; */
}

.btn-seb-intro {
	border-radius: .25rem !important;
	align-self: center;
	/* border-width: 2px; */
	--bs-btn-color: var(--seb-off-white) !important;
	--bs-btn-bg: transparent !important;
	--bs-btn-border-color: var(--seb-off-white) !important;
	--bs-btn-hover-color: var(--seb-red) !important;
	--bs-btn-hover-bg: var(--bs-black-33) !important;
	--bs-btn-hover-border-color: var(--seb-red) !important;
	--bs-btn-active-color: var(--seb-red) !important;
	--bs-btn-active-bg: var(--bs-black-33) !important;
	--bs-btn-active-border-color: var(--seb-red) !important;
}

.btn-seb-intro:focus {
	box-shadow: 0 0 0 0.25rem var(--seb-off-white-74);
	/*
  rather than:
   --bs-btn-focus-shadow-rgb:  0 0 0 0.25rem var(--seb-off-white-74)!important;
   above
   */
}

#intro>.intro-content>.Greeting {
	font-family: 'poppins-extrabold', var(--bs-font-sans-serif), sans-serif;
	letter-spacing: 2.5px;
}

#intro>.intro-content>.Name {
	font-family: 'poppins-medium', var(--bs-font-sans-serif), sans-serif;
	letter-spacing: -0.107rem;
	/* -webkit-transform:  scale(1, 1); */
	/* -moz-transform:     scale(1, 1); */
	/* -o-transform:       scale(1, 1); */
	/* transform:          scale(1, 1); */
	font-weight: 700;
	/*Responsive text size*/
	font-size: min(100px, max(50px, calc(1.5rem + 5vw)));

}

#intro>.intro-content>.intro-position>* {
	font-size: 1rem;
	font-family: 'Times New Roman', Times, serif;
	letter-spacing: 2px;
}

#intro>.intro-content>*>* {
	padding-right: 1rem;
	padding-left: 1rem;
	border: solid;
	border-width: 0px 2px;
	border-color: var(--seb-red);
}

#intro>.intro-content>*>*:nth-child(2) {
	border: 0;
}

/* tiny devices `` (phones, 576px and up) */
@media (max-width: 576px) {
	#intro>.intro-content>*>* {
		padding-right: .5rem;
		padding-left: .5rem;
	}

	#intro>.intro-content>*>*:nth-child(2n+1) {
		border: 0;
	}
}

#intro>.intro-social {
	padding-bottom: 1rem;
}

#intro>.intro-social>* {
	padding-right: 1rem;
	padding-left: 1rem;
}

/* Small devices `-sm` (phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	#intro>.intro-content>*>*:nth-child(2) {
		border: 0;
	}

	#intro>.intro-content>*>* {
		padding-right: 1rem;
		padding-left: 1rem;
	}
}

/* ==================================================== */
/* about */
#about .intro-info {
	/* font-weight: light; */
	font-family: "poppins-regular", var(--bs-font-sans-serif), sans-serif;
	color: var(--seb-grey);
	font-size: 1.1rem;
}

#about .intro-info p:first-letter {
	background-color: transparent;
	color: var(--seb-dark-grey);
	font-weight: bold;
	padding-top: 0rem;
	padding-bottom: 0rem;
	/* line-height: 3.5rem; */
	float: left;
	position: relative;
	margin-top: -1.5rem;
	margin-bottom: -2.5rem;
	margin-left: 0;
	margin-right: 0;
	font-size: 4.5rem;
}

#about p.drop-cap:first-letter {
	background-color: transparent;
	font-weight: normal;
	padding-top: 0rem;
	padding-bottom: 0rem;
	/* line-height: 3.4rem; */
	float: left;
	position: relative;
	margin-top: -1.7rem;
	margin-bottom: -2.0rem;
	margin-left: 0;
	margin-right: 0;
	font-size: 4rem;
}

#about .intro-info img.d-none {
	/* Shown to left */
	/* width: 100%; */
	height: 8rem;
	/* TODO: Possibly make responsive */
	object-fit: cover;
	/* span contatiner */
	object-position: center 12%;
	/* center image and move down */
	aspect-ratio: 1/1;
	/* crop */
	border-radius: 50%;
	/* circle */
	/* min-width: 150px; */
	/* max-width: 200px; */
	/* float:left; */
}

#about .intro-info img.d-md-none {
	/* shown above */
	width: 12rem;
	-o-object-fit: cover;
	object-fit: cover;
	/* span contatiner */
	-o-object-position: center 12%;
	object-position: center 12%;
	/* center image and move down */
	aspect-ratio: 1/1;
	/* crop */
	border-radius: 50%;
	/* circle */
	/* min-width: 150px; */
	/* max-width: 200px; */
	/* float:left; */
}

.wrap-circle {
	height: 9rem !important;
	;
	float: left !important;
	;
	shape-outside: circle();
	margin: 5px;
}

#about .skill-bars>p {
	margin-bottom: 0;
	font-family: 'poppins-semibold', var(--bs-font-sans-serif), sans-serif;

}

.about-list h6 {
	margin-bottom: 0;
	font-family: 'poppins-semibold', var(--bs-font-sans-serif), sans-serif;
}

#about .progress {
	background-color: var(--seb-off-white);
	margin-bottom: 1rem;
	border-radius: 50rem;
}

#about .progress-bar:nth-of-type(n) {
	text-align: end;
	background-color: var(--seb-dark-grey);
	border-radius: 50rem;
}

/* 
#about .skill-bars>*:nth-child(3n-1) {
	text-align: end;
	background-color: transparent;
	overflow: visible;
	border-radius: 50rem;
	margin: 0;
	padding: 0;
	margin-top: -1rem;
	border: var(--bs-border-width) none transparent !important;
}

#about .skill-bars>*:nth-child(3n-1)>.progress-bar {
	background-color: transparent;
	overflow: visible;
	border: var(--bs-border-width) none transparent;


}

#about .percent {
	background-color: var(--seb-dark-grey);
	color: var(--seb-off-white);
	position: relative;
	left: 1.4rem;
	bottom: .4rem;
	padding-left: .3rem;
	margin-right: .5rem;
	width: 2rem;
	overflow: visible;
	align-self: end;
	border-radius: .3rem;
	
}

#about .percent::after {
	position: relative;
	right: .95rem;
	bottom: -1.4rem;
	content: "";
	width: 0;
	height: 0;
	// Triangle Shape
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 7px solid var(--seb-dark-grey);
	margin: 0rem;
}
*/

#about .progress-bar>* {
	font-family: monospace;
	letter-spacing: .06rem;
}

#about .btn {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: .85rem;
	width: 100%;
}

.progressTooltip {
	--bs-tooltip-zindex: 10;
	/* --bs-tooltip-max-width: #{$tooltip-max-width}; */
	/* --bs-tooltip-padding-x: #{$tooltip-padding-x}; */
	/* --bs-tooltip-padding-x: .25rem; */
	--bs-tooltip-padding-y: .125rem;
	/* --bs-tooltip-margin: #{$tooltip-margin}; */
	/* @include rfs($tooltip-font-size, --#{$prefix}tooltip-font-size); */
	/* --bs-tooltip-color: var(--seb-dark-grey); */
	/* background-color: var(--seb-red)!important; */
	--bs-tooltip-bg: var(--seb-dark);
	/* --bs-tooltip-border-radius: #{$tooltip-border-radius}; */
	/* --bs-tooltip-opacity: #{$tooltip-opacity}; */
	--bs-tooltip-arrow-height: .55rem;
	font-family: monospace;
}

/* ==================================================== */
/* RESUME BLOCKS */
.marker-seb-red {
	list-style-type: disc;
}

.marker-seb-red li::marker {
	color: var(--seb-red);
}

.resumeBlock>strong {
	color: var(--seb-red);
}

.resumeBlock>.location {
	color: var(--bs-gray);
}

.resumeBlock>.date {
	color: var(--bs-gray);
}

.resumeBlock>ul {
	list-style-type: disc;
}

.resumeBlock>ul li::marker {
	color: var(--seb-red);
}

#resume .emph {
	color: var(--seb-grey);
	font-weight: bold;
}

/* ==================================================== */
/* LINKS <a> and special button (#intro.btn)*/
.majors>a {
	text-decoration: underline;
}

a img {
	border: none;
}

a {
	color: var(--seb-dark-grey);
	text-decoration: none;
}

#intro a i {
	color: var(--seb-off-white);
	text-decoration: none;
}

#intro a:active i,
#intro a:hover i,
a:active,
a:hover {
	color: var(--seb-red);
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#intro a:visited i,
a:visited {
	text-decoration: none;
	line-height: inherit;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* ==================================================== */

/* Quotes */
/* #quotes > div:nth-of-type(6)
 {
  background-color: yellow!important;
  display:none;
} */

/* STATS */
#stat_table>div {
	border-right: 2px solid rgba(255, 255, 255, 0.2);
}

#stat_table>.stat>.icon-part>i {
	font-size: 4em;
	color: var(--bs-black) !important;
}

#stat_table>.stat>.stat-count {
	font-size: 2.5em;
}

#stat_table>.stat>.stat-title {
	text-transform: uppercase;
}

/* ==================================================== */
/* Responsive borders assuming 6 items*/

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {

	/* for col-12
  so 6x1:
      #
      #
      #
      #
      #
      #
  */
	#stat_table>div {
		border-right: 0;
	}
}

/* Small devices `-sm` (phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

	/* for col-sm-6
  so 3x2:
      # | #
      # | #
      # | #
  */
	#stat_table>div:nth-child(2n) {
		/* 2n = Second Column */
		border-right: 0;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

	/* for col-md-4
  so 2x3:
      # # #
      # # #
  */
	#stat_table>div:nth-child(3n) {
		/* 3n+1 = Third Row */
		border-right: 0;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px)

/* and (max-width: 1199.98px) */
	{

	/* for col-lg-2
  so 6x1:
      # # # # # #
  */
	#stat_table>div:nth-child(6n) {
		/* 3n+1 = Third Row */
		border-right: 0;
	}
}

/* Extra large devices (large desktops) */
/* @media only screen and (min-width: 1200px) { } */
/* CSS code for extra large devices */
/* Extra extra large devices (large desktops) */
/* @media only screen and (min-width: 1400px) { } */
/* CSS code for extra large devices */

/* ==================================================== */
/* Portfolio */

#portfolio .card-img-overlay {
	/* display: none; */
	display: flex !important;
	text-align: center;
	justify-items: center;
	align-items: center;
	align-content: center;
	flex-wrap: nowrap;
	justify-content: center;
	flex-direction: column;
	background: transparent;
	/* 
  -moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out; */
}

#portfolio .card:hover .card-img-overlay * {
	color: var(--seb-off-white);
	text-shadow: 0 0 20px #000, 0 0 30px #222, 0 0 40px #333;
}

#portfolio .card-img-overlay * {
	text-align: center;
	color: transparent;
	text-shadow: transparent;
}

#portfolio .card {
	overflow: hidden;
}

#portfolio .card:hover img {
	-webkit-filter: blur(3px) brightness(.45);
	filter: blur(3px) brightness(.45);
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

#portfolio .card img,
#portfolio .card .card-img-overlay,
#portfolio .card .card-img-overlay * {
	-moz-transition: inherit;
	-o-transition: inherit;
	-webkit-transition: inherit;
	-ms-transition: inherit;
	transition: inherit;
}


#portfolio .card:active .card-img-overlay,
#portfolio .card:hover .card-img-overlay {
	display: flex !important;
	align-content: center;
}

#portfolio .card {
	--bs-card-cap-padding: 0;
	justify-content: center;
	justify-items: center;
	-moz-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-ms-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

#portfolio h5.card-title {
	font-size: xx-large;
	font-family: 'poppins-bold', var(--bs-font-sans-serif), sans-serif;
	font-weight: bold;
	text-transform: capitalize;
	text-align: center;
}


/* ==================================================== */
/* Courses */

#courses .accordion {
	--bs-accordion-bg: var(--seb-dark);
	--bs-accordion-color: var(--seb-light-grey);
	--bs-accordion-btn-color: var(--seb-light-grey);
	--bs-accordion-active-color: var(--seb-light-red) !important;
	--bs-accordion-active-bg: var(--seb-off-white);
	--bs-accordion-border-color: var(--seb-dark);
	/* using color 'grey' and 'fa-solid fa-chevron-down' svg path at: https://fontawesome.com/icons/chevron-down?f=classic&s=solid */
	--bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='grey'%3e%3cpath fill-rule='evenodd' d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/%3e%3c/svg%3e");
	--bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='red'%3e%3cpath fill-rule='evenodd' d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/%3e%3c/svg%3e");
}

#courses .accordion-button:hover,
#courses .accordion-button:focus {
	border-color: var(--seb-red);
	box-shadow: 0 0 0 0.25rem var(--seb-red-74);
}

#courses .accordion-button:not(.collapsed) {
	background-color: var(--seb-light-red-33);
}

/* #courses .list-group {
  --bs-list-group-color:inherit;
  --bs-list-group-bg:inherit;
  --bs-list-group-border-color:var(--seb-dark-grey);
  --bs-list-group-border-width:2px;
} */
#courses .table {
	--bs-table-color: inherit;
	--bs-table-hover-color: var(--seb-red);
	/* --bs-table-striped-color:inherit; */
	--bs-table-bg: inherit;
	--bs-table-border-color: var(--seb-dark-grey);
	/* --bs-table-border-width:3px; */
	/* --bs-table-cell-padding-y: .35rem;
  --bs-table-cell-padding-x: .35rem; */
}

#courses .table td {
	padding: .35rem .35rem;
}

/* ==================================================== */

/* Contact */
/* #contact label {
  color: var(--seb-off-white);
} */

#contact .div-form {
	display: contents;
}

#contact .input-group .input-group-text

/* To: */
	{
	color: var(--seb-off-white);
	background-color: transparent;
	border: var(--bs-border-width) none var(--seb-dark);
}

#contact .form-floating textarea,
/* main textarea body */
#contact .form-floating input

/* main input body */
	{
	color: var(--seb-off-white);
	background-color: var(--seb-dark-grey);
	border: var(--bs-border-width) none var(--seb-dark);
}

/* #contact .form-floating textarea {
  height: fit-content;
  min-height: 10rem;
} */

#contact .form-floating textarea:focus,
/* main textarea body */
#contact .form-floating input:focus

/* main input body */
	{
	box-shadow: 0 0 0 0.25rem var(--seb-dark-74);
}

/*body area behind */
#contact .form-floating label.error,
#contact .error::after {
	text-align: right;
	width: 100%;
	color: var(--seb-red) !important;
	background-color: transparent !important;
}

#contact .form-floating label,
#contact .form-floating:not(.form-control:disabled)::before,
#contact .form-label::after {

	color: var(--seb-off-white-74) !important;
	background-color: transparent !important;
	pointer-events: none;
	/* makes floating label non interactive, To make full input element selectable */
	border: var(--bs-border-width) none var(--seb-dark);
}

#contact .form-floating input:-internal-autofill-selected+label {
	color: var(--seb-dark);
}

#message-warning,
#message-success {
	display: none;
	background: var(--bs-black);
	border-radius: .25rem !important;
	align-self: center;
	padding: 1rem;
	margin: 1rem;
	width: 50%;
}

#message-warning {
	color: var(--seb-light-red);
}

#message-success {
	color: var(--seb-red);
}

#message-warning i,
#message-success i {
	margin-right: 10px;
}

#submit-loader .text-loader {
	display: none;
	font-family: "poppins-bold", sans-serif;
	color: var(--seb-off-white);
	letter-spacing: .3rem;
	text-transform: uppercase;
}

.contact-info i {
	font-size: 3rem;
}

.contact-info h5 {
	color: var(--seb-red);
}

.contact-info p {
	color: var(--seb-light-grey);
}

#contact #hidden_iframe {
filter: invert(91%) hue-rotate(180deg) brightness(90%);
}

/* ==================================================== */
/* footer */
#footer {
	color: var(--seb-off-white) !important;
}

#footer li>a>i {
	/*Social Icons*/
	color: var(--seb-off-white) !important;
	margin-inline-start: .375rem;
	margin-inline-end: .375rem;
}

#footer .nav {
	/*Social Icons Row*/
	border-top: var(--seb-off-white-bb) solid .8px;
	padding-top: .5rem;
	margin-top: .5rem;
}


/* Small devices `-sm` (phones, 576px and up) */
@media (min-width: 576px) {

	/* and (max-width: 767.98px) { */
	#footer .nav {
		/*Social Icons Row*/
		border-top: none;
		padding-top: 0;
		margin-top: 0;
	}
}